//- index.html

extends includes/layout

block title
    title Accueil
    
block style
    link(rel="stylesheet" href="../css/main-min.css")

block header
    - var current = { login : 'account' }
    include includes/header.jade
    
block content
    p Ici se trouve le formulaire de connexion.

block footer
    include includes/footer.jade
