//- includes/footer.jade

footer.footer
    div.footer__wrap
        div.footer__navigation
            span.navigation__block
                a(href="#").item__nav--footer.animateLink.navigation__link Accueil
            span.navigation__block
                a(href="#").item__nav--footer.animateLink.navigation__link Établissements
            span.navigation__block
                a(href="#").item__nav--footer.animateLink.navigation__link Livres
            span.navigation__block
                a(href="#").item__nav--footer.animateLink.navigation__link Auteurs
            
        
