//- includes/header.jade

header.header
    div.header__wrap
        div.header__profil
            span.profil__account
                a(href="#").navigation__link.animateLink Mon compte
        div.header__info.clearfix
            div.header__title
                h1.title__words 
                    | Mon espace
                    span.title__header Liburutegia
            div.header__search
                form.search__form
                    label(for="search").input__text--label Rechercher
                    input(id="search" placeholder="Un livre, un auteur, un établissements, ...").input__text--search
                    input(itemprop="target" type="submit" value="Rechercher").input__text--submit
        nav.header__navigation
            span.navigation__block
                a(href="#").animateLink.navigation__link Accueil
            span.navigation__block
                a(href="#").animateLink.navigation__link Établissements
            span.navigation__block
                a(href="#").animateLink.navigation__link Livres
            span.navigation__block
                a(href="#").animateLink.navigation__link Auteurs        
