///*------------------------------------*\
//    #COMPONENTS BACKGROUND
//\*------------------------------------*/




// Style for my background image
.background--first
    width 100%
    background url("images/background-one.jpg") center fixed no-repeat
