///*------------------------------------*\
//    #COMPONENTS FORMS
//\*------------------------------------*/




// Style for my search form
.header__search
    rem-fallback( width, 620px )
    rem-fallback( margin-top, 48px )

.search__form
    position relative
    rem-fallback( padding, 6px 6px 6px 114px )
    background-color wf_account-background-color
.input__text--label
    position absolute
    rem-fallback( top, 10px )
    rem-fallback( left, 10px )
    color wf_nav-color
    font-family wf_font-heading
    text-transform uppercase
.input__text--search
    width 100%
    display block
    rem-fallback( font-size, 18px )
    border-radius( 2.5px )
.input__text--submit
    position: absolute
    rem-fallback( width, 20px )
    rem-fallback( height, 20px )
    rem-fallback( top, 10px )
    rem-fallback( right, 8px )
    background url( "images/sprite.png" ) -80px -10px
    rem-fallback( padding, 12px )
    border none
    cursor pointer
    rem-fallback( text-indent, 100000px )
