///*------------------------------------*\
//    #COMPONENTS NAVIGATION
//\*------------------------------------*/




// Style for my header navigation
.navigation__block
    rem-fallback( font-size, 24px )
    rem-fallback( padding-right, 20px )

.navigation__link
    font-family wf_font-heading
    font-style normal
    color wf_nav-color
    text-decoration none
    &:hover
        color wf_nav-color-hover
        text-decoration none

.footer__navigation
    rem-fallback( margin-right, -20px )
.item__nav--footer
    rem-fallback( font-size, 18px )
