///*------------------------------------*\
//    #COMPONENTS BACKGROUND
//\*------------------------------------*/




// Style for my background image
.background--first
    width 100%
    background url("images/background-one.jpg") center fixed no-repeat

// Home page's style
.home__search
    position relative
    width 100%
    rem-fallback( height, 250px )
.home__search--block
    position absolute
    rem-fallback( width, 600px )
    rem-fallback( height, 45px )
    top 0
    right 0
    bottom 0
    left 0
    margin auto

// Box de 280px
.home__path
    display inline-block
    float left
    rem-fallback( width, 280px )
    background wf_path-background-color
    rem-fallback( margin, 32px 10px )
