///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_margin-spacing               =    wf_line-height
wf_list-element                 =    "- "
wf_font-labeur                  =    "EB Garamond", serif
wf_font-heading                 =    "PT Sans", sans-serif

// Font-Size for heading
wf_heading-size-1               =    41.887px
wf_heading-size-2               =    34.269px
wf_heading-size-3               =    25.888px
wf_heading-size-4               =    21.180px
wf_heading-size-5               =    16px
wf_heading-size-6               =    13.090px

// Text colors.
wf_labeur-color                 =    #333333
wf_heading-color                =    #888888
wf_header-color                 =    #eef1da
wf_nav-color                    =    #eef1da
wf_nav-color-hover              =    #e2e3dd
wf_link-color                   =    #139885
wf_link-color-hover             =    #1be6bd

// Background colors.
wf_background-color             =    #ffffff
wf_header-background-color      =    rgba(#121212, 0.8)
wf_account-background-color     =    #77240a
wf_path-background-color        =    rgba(#121212, 0.8)

// Border colors
wf_border-animate_link          =    #e2e3dd

// Forms settings
wf_form-placeholder-color       =    #717171
wf_form-border-color            =    #ffffff
wf_form-background-color        =    #ffffff
wf_form-background-color-focus  =    #77240a
